In [1]:
a = "sudh"

In [2]:
len(a)

4

In [3]:
l = [2,3,4,5,"sudh", 4.67]

In [4]:
len(l)

6

In [6]:
def test():
    pass

In [9]:
def test1():
    print("this is my very first function in python")

In [10]:
test1()

this is my very first function in python

In [11]:
a = 1

In [12]:
b = test1()

this is my very first function in python

In [20]:
type(b)

NoneType

In [16]:
b

In [17]:
print(b)

None

In [18]:
c = "kumar"

In [19]:
type(c)

str

In [21]:
type(test1())

this is my very first function in python

NoneType

In [22]:
def test2():
    return 5

In [23]:
test2()

5

In [24]:
d = test2()

In [25]:
d

5

In [26]:
type(print("this "))

this

NoneType

In [27]:
def test3():
    return 5

In [28]:
def test4():
    print("this is my print return ")

In [29]:
test3()

5

In [31]:
e = test4()

this is my print return

In [33]:
e + "sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
def test3():
    return "sudh"

In [35]:
test3() + "kumar"

'sudhkumar'

In [36]:
test4() + "kumar"

this is my print return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [38]:
def test5():
    print("this is my python code ")

In [39]:
def test6():
    return 1,3 , [3,4,5,"sudh"],(3,4,5,6)

In [40]:
test6()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [41]:
type(test6())

tuple

In [42]:
test6()[1]

3

In [43]:
test6()[2]

[3, 4, 5, 'sudh']

In [44]:
def test7():
    return 1,3 , [3,4,5,"sudh"],(3,4,5,6)

In [46]:
a,b,c,d = test7()

In [47]:
a

1

In [48]:
b

3

In [49]:
c

[3, 4, 5, 'sudh']

In [50]:
d

(3, 4, 5, 6)

In [51]:
a =1
b= 3
c ="sudh"

In [52]:
a,b,c = 1,3,"sudh"

In [53]:
def test8():
    a = 4*5+8
    return a

In [55]:
test8() + 8

36

In [56]:
type(test8())

int

In [64]:
def test9():
    l = [2,3,4,5,6,7,8,9,"sudh"]
    a = 0
    for i in l :
        if type(i) == int:
            a = i+a
    return a

In [63]:
test9()

44

In [66]:
len("sudh")

4

In [68]:
len([4,5,6])

3

In [65]:
l1 = [4,5,6,7,7,8,"kumar" , 4.56]

In [69]:
def test10(l):
    a = 0
    for i in l :
        if type(i) == int:
            a = i+a
    return a

In [71]:
test10(l1)

37

In [72]:
def test11(a,b):
    return a+b

In [74]:
test11(2,3)

5

In [75]:
test11("sudh" ,"kumar")

'sudhkumar'

In [76]:
test11(a = 7 , b = 5)

12

In [77]:
test11(b = 8 , a = 5)

13

In [78]:
l = [3,4,5,6,7,8,"sudh" , 5,6,7,"kumar" , "ineuron"]

In [91]:
def test12(l):
    """this is my function which will help you to seperate a string from list into a new list """
    l1 = []
    for i in l :
        if type(i) == str:
            l1.append(i)
    return l1

In [84]:
test12(l)

['sudh', 'kumar', 'ineuron']

In [87]:
l2 = ["fsfda" , "fsdf" ,"abc " , 456,56]

In [88]:
test12(l2)

['fsfda', 'fsdf', 'abc ']

In [90]:
len("sdf")

3

In [ ]:
print()

In [ ]:
test12()

In [92]:
len("sudh")

4

In [94]:
l2

['fsfda', 'fsdf', 'abc ', 456, 56]

In [ ]:
1. write a function which will try to find out len of a string without using an inbuilt len function 
2. write a function which  will be able to print an index of list element without using an index function
3. write a function which will be able to print an ip address of your system
4. write a function which will shutdown your system
5. write a function which will take input as a list with any kind of numeric value and give an out as a multiplication of 
all the numeric data l = [3.5, 6.56, 4,5,"sudh" , "ineuron" , 'fsda bootcamp 2.0']
6. write a function which will be able to read all the mails 
7 . write a function which will be able to send a mail to anyone 
8. write a function which will be able to read a doc/word file from your system 

you are suppose to complete this by oct 30th before your 
live class and you have to send a solution at mail id - query@ineuron.ai
submit your git link to mail